<div class="flex flex-col justify-around h-[500px] lg:h-[600px]">
  <div class="flex justify-center text-white">
    <h2 class="lg:text-4xl text-3xl">Sugerencias</h2>
  </div>
  <div class="grid gap-7 lg:gap-10 grid-cols-2 bg-white rounded-lg p-5">
    <div>
      <app-item [url]="'assets/obra-de-arte.svg'" [text]="'Estilos'"></app-item>
    </div>
    <div>
      <app-item
        [url]="'assets/tecnica-mixta.svg'"
        [text]="'Tecnicas'"
      ></app-item>
    </div>
    <div>
      <app-item
        [url]="'assets/superficie.svg'"
        [text]="'Superficies'"
      ></app-item>
    </div>
    <div>
      <app-item [url]="'assets/suelo.svg'" [text]="'Materiales'"></app-item>
    </div>
  </div>
</div>
